.fafaicons{
    font-size: 35px;
    color: #3892c5;
    padding-right: 20px;
}

.users-header h3{
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold !important;
    font-size: 30px;
}

#card1{
    font-family: 'Quicksand', sans-serif;
}

